:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #eb9441;
    --clr-primary-a10: #f0a057;
    --clr-primary-a20: #f4ab6b;
    --clr-primary-a30: #f7b780;
    --clr-primary-a40: #fac395;
    --clr-primary-a50: #fccfaa;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #251e18;
    --clr-surface-tonal-a10: #3a332d;
    --clr-surface-tonal-a20: #4f4944;
    --clr-surface-tonal-a30: #66605b;
    --clr-surface-tonal-a40: #7e7975;
    --clr-surface-tonal-a50: #96928f;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

.btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn:hover,
.btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

html {
    background-color: var(--clr-surface-a0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.pagetitle {
    font-size: 2rem;
    color: var(--clr-light-a0);
    border-bottom: 3px solid var(--clr-primary-a0);
    margin-bottom: 40px;
}

#player-names,
#game-message {
    font-size: 1.3rem;
    color: var(--clr-light-a0);
    border-bottom: 2px solid var(--clr-primary-a0);
    margin-bottom: 40px;
    text-align: center;
}

.player-input {
    margin-bottom: 35px;
}

.input {
    border-radius: 10px;
    outline: 2px solid var(--clr-primary-a0);
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--clr-surface-tonal-a10);
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    color: var(--clr-primary-a10);
}

.input:focus {
    outline-offset: 5px;
    background-color: var(--clr-surface-tonal-a20);
}

#container {
    width: 30%;
    margin: auto;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin: 25px auto;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#end-screen {
    width: 100%;
    display: none;
    justify-content: space-around;
}

#game-screen {
    display: none;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    border-bottom: 3px solid var(--clr-primary-a0);
    color: var(--clr-light-a0);
    margin-bottom: 35px;
}

.cell {
    height: 150px;
    width: 150px;
    background-color: var(--clr-surface-a10);
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.p1cell {
    color: var(--clr-success-a10);
}

.p2cell {
    color: var(--clr-danger-a10);
}

.cell:hover {
    background-color: var(--clr-surface-tonal-a20);
    cursor: pointer;
}

.cell.locked {
    cursor: default;
    pointer-events: none;
}

.cell.winner {
    -webkit-box-shadow: inset 0px 0px 0px 5px var(--clr-warning-a10);
    -moz-box-shadow: inset 0px 0px 0px 5px var(--clr-warning-a10);
    box-shadow: inset 0px 0px 0px 5px var(--clr-warning-a10);
}